.container {
  width: 99%;
  margin: auto;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li button {
  border: none;
  background-color: transparent;
  margin: 0px 10px;
  cursor: pointer;
}
